# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env

# Build outputs
build/
dist/

# Mac system files
.DS_Store

# Docker
docker-compose.override.yml
docker-compose.override.yaml

# IDEs
.idea/
.vscode/
*.sublime-workspace

# Coverage files
coverage/

# Temp files
*.tmp
*.temp
tmp/
temp/

# Babel and ESLint cache
.cache/
.eslintcache

# Others
*.pid
